@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap');

:root{
    --warm-1: hsl(22, 65%, 35%);
    --warm-2: hsl(22, 65%, 45%);
    --cool-1: hsl(212, 45%, 45%);
    --cool-2: hsl(212, 45%, 55%);
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    overflow: hidden;
    text-align: center;
}

.hidden{
    opacity: 0;
    transition: all 350ms ease;
}

.player.hidden:hover{
    opacity: 1;
}

.ra-container {
    height: 100vh;
    background-image: linear-gradient(to bottom, rgba(0,0,0,.5), rgba(0,0,0,.8));
    font-family: "Poppins", sans-serif;
}

.ra-nav{
    margin-top: 80px;
}

.ra-nav h1{
    color: white;
    font-size: 2.5rem;
}

.timer,
.mood {
    height: 30%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex: 1;
}

.timer button{
    color: white;
    background: none;
    cursor: pointer;
    transition: all 0.5s ease;
    outline: none;
}

.mood button {
    border: none;
    height: 120px;
    width: 120px;
    padding: 30px;
    border-radius: 50%;
    transition: 300ms;
    margin-bottom: 120px;
    cursor: pointer;
}

.mood button:nth-child(1) {
    background: var(--cool-1);
}
.mood button:nth-child(1):hover {
    background: var(--cool-2);
}
.mood button:nth-child(2) {
    background: var(--warm-1);
}
.mood button:nth-child(2):hover {
    background: var(--warm-2);
}
.mood button img {
    height: 100%;
}

.timer button{
    position: relative;
    isolation: isolate;
    border: none;
    height: 50px;
    width: 200px;

    background-color: hsla(0, 0%, 0%, 0.04);
    font-size: 1.5rem;
    line-height: inherit;
    transition: all 350ms linear;

    border: 2px solid white;
    border-radius: 5px;
}

.timer button::after{
    content: '';
    position: absolute;
    inset: 0;
    z-index: -1;
    background: white;
    transform: scale(0, 1);
    transform-origin: center;
    transition: transform 350ms ease;
}

.timer button:hover {
    color: black;
}

.timer button:hover::after{
    transform: scale(1, 1);
}

.player {
    position: relative;
    height: 30%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex: 1;
    cursor: pointer;
}

.player svg {
    position: absolute;
    height: 60%;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(-90deg);
    pointer-events: none;
}

.player svg circle {
    transition: all 0.2s ease-in-out;
}

.play{
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%,-50%);
    height: 10%;
}

.display {
    color: white;
    position: absolute;
    font-size: 55px;
    bottom: 0%;
}

video {
    position: fixed;
    top: 0%;
    left: 0%;
    width: 100%;
    z-index: -10;
}

@media screen and (max-width: 650px) {
    
    .ra-nav{
        margin: 20px;
    }

    .ra-nav h1{
        padding: 0 10px;
        font-size: 1.75rem;
    }
    
    .timer {
      flex-direction: column;
    }

    .timer button{
        width: 60%;
    }

    .player{
        margin: 20px 0;
    }

    .mood{
        margin-bottom: 120px;
    }

    .mood button{
        width: 75px;
        height: 75px;
        padding: 20px;
    }
}