/* Resets*/
:root{
    --light: hsl(0, 0%, 91%);
    --dark: hsl(0, 0%, 20%);
    --purple: hsl(234, 98%, 62%);
    --orange: hsl(22, 100%, 45%);
    --green: hsl(118, 87%, 38%);
}

.time-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: var(--dark);
    outline: none;
}

/*  ---- Analogue Clock Styling ----  */

.ana_clock{
    position: absolute;
    top: 25%;
    left: 30%;
    transform: translate(-50%,0);
    width: 300px;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url(../media/img/clock.png);
    background-size: cover;
    border: 4px solid hsl(0, 0%, 100%);
    border-radius: 10px;
    box-shadow: 0 -15px 15px hsla(0, 0%, 100%, 0.05),
                inset 0 -15px 15px hsla(0, 0%, 100%, 0.05),
                0 15px 15px hsla(0, 0%, 100%, 0.03),
                inset 0 15px 15px hsla(0, 0%, 100%, 0.03);
}

/* The white dot in the middle*/
.ana_clock:before{
    content: '';
    position: absolute;
    width: 15px;
    height: 15px;
    background: hsl(0, 0%, 59%);
    border-radius: 50%;
    z-index: 50;
}

.ana_clock .ana_hour, 
.ana_clock .ana_minute, 
.ana_clock .ana_second{
    position: absolute;
}

/* hour-hand*/
.ana_clock .ana_hour, 
.ana_hr{
    width: 160px;
    height: 160px;
}

/* minute-hand*/
.ana_clock .ana_minute, 
.ana_mm{
    width: 190px;
    height: 190px;
}

/* second-hand*/
.ana_clock .ana_second, 
.ana_ss{
    width: 230px;
    height: 230px;
}

/* grouping the hands together*/
.ana_hr, 
.ana_mm, 
.ana_ss{
    display: flex;
    justify-content: center;
    position: absolute;
    border-radius: 50%;
}

.ana_hr:before{
    content: '';
    position: absolute;
    width: 8px;
    height: 80px;
    background: var(--purple);
    z-index: 10;
    border-radius: 6px 6px 0 0;
}

.ana_mm:before{
    content: '';
    position: absolute;
    width: 4px;
    height: 90px;
    background: var(--orange);
    z-index: 11;
    border-radius: 6px 6px 0 0;
}

.ana_ss:before{
    content: '';
    position: absolute;
    width: 2px;
    height: 150px;
    background: var(--green);
    z-index: 12;
    border-radius: 6px 6px 0 0;
}