@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');

:root{
    --light: hsl(0, 0%, 91%);
    --dark: hsl(0, 0%, 20%);
    --border: hsl(0, 0%, 50%);

    --shadow-05: hsla(0, 0%, 100%, 0.05);
    --shadow-03: hsla(0, 0%, 100%, 0.03);

    --black-03: hsla(0, 0%, 0%, 0.3);
    --black-04: hsla(0, 0%, 0%, 0.4);
    --black-05: hsla(0, 0%, 0%, 0.5);
    --black-06: hsla(0, 0%, 0%, 0.6);
}

*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
}

body{
    font-family: 'Poppins', sans-serif;
    background: url(../media/img/bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.wa-container{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: linear-gradient(to bottom, var(--black-03), var(--black-06));
}

.wa-nav{
    width: 100%;
}

.wa-apps{
    margin-top: 15px;
}

.button{
    position: relative;
    isolation: isolate;
    border: none;
    height: 50px;
    width: 100%;
    background-color: hsla(0, 0%, 0%, 0.04);
    font-size: 1.5rem;
    line-height: inherit;
    transition: all 350ms linear;
    cursor: pointer;
}

.button::after{
    content: '';
    position: absolute;
    inset: 0;
    z-index: -1;
    background: var(--light);
    transform: scale(0, 1);
    transform-origin: center;
    transition: transform 350ms ease;
}

.reload-btn::after{
    background: url("../media/img/refresh.png") var(--light) no-repeat center;
}

.button:hover::after{
    transform: scale(1, 1);
}

.app-btn{
    padding: 10px 20px;
    background-color: var(--light);
    border: 2px solid var(--light);
    border-radius: 3px;
}

.app-btn:hover,
.app-btn:focus{
    background: transparent;
}

.wa-header{
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.wa-header input{
    width: 100%;
    max-width: 300px;
    padding: 5px 10px;
    border: 2px solid transparent;
    outline: none;
    background-color: hsla(0, 0%, 96%, 0.1);
    border-radius: 3px;
    font-family: 'Poppins', sans-serif;
    color: hsl(0, 0%, 13%);
    font-size: 2rem;
    transition: 0.4s ease-in-out;
    text-transform: capitalize;

    box-shadow: 0 0 10px var(--shadow-05),
                inset 0 -10px 10px var(--shadow-05),
                0 10px 10px var(--shadow-03),
                inset 0 10px 10px var(--shadow-03);
}

.wa-header input:hover{
    border: 2px solid var(--border);
    outline: none;
    color: var(--dark);
    background: var(--light);
}

.wa-header input:focus{
    background-color: hsl(0, 0%, 100%);
}

.wa-display{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1 1 100%;
    padding: 65px;
}

.location{
    text-shadow: 1px 2px var(--black-05);
    color: hsl(0, 0%, 100%);
}

.location .city{
    font-size: 4rem;
}

.location .date{
    font-size: 2rem;
}

.current{
    text-shadow: 0 3px var(--black-04);
    font-size: 3rem;
}

.current .temp{
    color: hsl(0, 0%, 100%);
    margin-top: 30px;
}

.current .weather{
    color: hsl(0, 0%, 100%);
    margin-bottom: 15px;
}