@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

:root{
    --light: hsl(0, 0%, 91%);
    --dark: hsl(0, 0%, 20%);
    --border: hsl(0, 0%, 50%);

    --shadow-05: hsla(0, 0%, 100%, 0.05);
    --shadow-03: hsla(0, 0%, 100%, 0.03);

    --black-03: hsla(0, 0%, 0%, 0.3);
    --black-04: hsla(0, 0%, 0%, 0.4);
    --black-05: hsla(0, 0%, 0%, 0.5);
    --black-06: hsla(0, 0%, 0%, 0.6);
}

*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
}

body{
    font-family: 'Monsterrat', sans-serif;
    background: url(../media/img/br.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.wa-container{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: linear-gradient(to bottom, var(--black-03), var(--black-06));
}

.reload-btn{
    position: relative;
    isolation: isolate;
    border: none;
    height: 50px;
    width: 100%;
    background-color: hsla(0, 0%, 0%, 0.04);
    font-size: 1.5rem;
    color:transparent;
    transition: all 350ms linear;
    cursor: pointer;
}

.reload-btn:hover,
.reload-btn:focus{
    color: var(--dark);
}

.reload-btn::after{
    content: '';
    position: absolute;
    inset: 0;
    z-index: -1;
    background: var(--light);
    transform: scale(0, 1);
    transform-origin: center;
    transition: transform 350ms ease;
}

.reload-btn:hover::after{
    transform: scale(1, 1);
}

/* .app-btn{

} */

.wa-header{
    display: flex;
    justify-content: center;
    margin-top: 100px;
}

.wa-header input{
    width: 100%;
    max-width: 300px;
    padding: 5px 10px;
    border: 2px solid transparent;
    outline: none;
    background-color: hsla(0, 0%, 96%, 0.7);
    border-radius: 3px;
    color: hsl(0, 0%, 13%);
    font-size: 2rem;
    transition: 0.2s ease-out;
    text-transform: capitalize;

    box-shadow: 0 -15px 15px var(--shadow-05),
                inset 0 -15px 15px var(--shadow-05),
                0 15px 15px var(--shadow-03),
                inset 0 15px 15px var(--shadow-03);
}

.wa-header input:hover{
    border: 2px solid var(--border);
    outline: none;
    color: var(--dark);
    background: var(--light);
}

.wa-header input:focus{
    background-color: hsl(0, 0%, 100%);
}

.wa-display{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1 1 100%;
    padding: 65px;
}

.location{
    text-shadow: 1px 2px var(--black-05);
    color: hsl(0, 0%, 100%);
}

.location .city{
    font-size: 4rem;
}

.location .date{
    font-size: 2rem;
}

.current{
    text-shadow: 0 3px var(--black-04);
    font-size: 3rem;
    font-weight: 600;
}

.current .temp{
    color: hsl(0, 0%, 100%);
    margin-top: 30px;
}

.current .weather{
    color: hsl(0, 0%, 100%);
    margin-bottom: 15px;
}